<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Nouvelle facture à traiter !</p>

    <h3><a href="<%= @invoice.file %>">A retrouver ici:</a></h3>

  </body>
</html>
