<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p><strong>"Félicitation votre compte a été créé avec succès ! Vous pouvez désormais accéder à votre espace client à tout moment afin de suivre l'avancement de vos dossiers et nous en transmettre de nouveau directement en ligne. " </strong></p>
  </body>
</html>
