<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Bonjour <%= @contact.first_name %>,<br>
      Votre message à Solution Créance à bien été reçu, vous serez recontactés dans les plus brefs délais.

      Merci,

      L'équipe de Solution Créance


    </p>


  </body>
</html>
